*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/* Light mode colors */
@media (prefers-color-scheme: light) {
    body {
        background-color: white;
        color: black;
    }
}

/* Dark mode colors */
@media (prefers-color-scheme: dark) {
    body {
        background-color: black;
        color: white;
    }
}

